#animation {
    display: block;
    float:right;
    flex-direction: column;
    width:50px;
    position: absolute;
    top:-3px;
    right:0;

}
#an {
    animation-duration: 2s;
    animation-name: loader;
}
@keyframes loader {
    from{
        transform: rotate(20deg);
    }
    to {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }

}